.StatisticsContainer {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    
    padding-top: 40px;

    background-image: url('../../assets/Tilt-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

.StatisticsComponent {
    background-color: var(--secondary-colour);
    opacity: 90%;
    width: 40%;
    height: 75vh;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    overflow: scroll;

    gap: 10px;
    padding: 15px 25px;
    
}