.NavWindowContainer {
    background-color: var(--secondary-colour);
    width: 175px;
    border-radius: 18px;
    border: 1px solid var(--text-colour);

    padding: 10px 20px;

    display: flex;
    flex-direction: column;

    position: absolute;
    
    z-index: 9999;

    top: 5%;

    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.164);
}

.NavWindowContainer div{
    padding: 10px 0px;
    border-bottom: 1px solid var(--text-colour);
    
}

.NavWindowContainer div:last-child {
    border-bottom: none;
}

.NavWindowContainer p {
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s all;
}

.NavWindowContainer p:hover {
    background-color: var(--primary-colour);
    border-radius: 13px;
    cursor: pointer;

    box-shadow: 0px 0px 5px rgba(80, 80, 80, 0.164);
    transform: scale(1.03);
}


.CurrencySection {
    padding: 0px;
    margin: 0px;
}

.CurrencySection option {
  background-color: #f0f0f0;
  color: #333;
  padding: 0px !important;
  margin: 0px !important;
}