.NavWindowContainer {
    background-color: var(--secondary-colour);
    width: 150px;
    border-radius: 18px;

    padding: 10px 20px;

    display: flex;
    flex-direction: column;

    position: absolute;
    
}

.NavWindowContainer div{
    padding: 10px 0px;
    border-bottom: 1px solid var(--text-colour);
}

.NavWindowContainer div:last-child {
    border-bottom: none;
}

.NavWindowContainer p:hover {
    background-color: var(--primary-colour);
    border-radius: 18px;
    cursor: pointer;
}

.NavWindowContainer p {
    padding: 6px 12px;
}