.WithdrawForm {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.WithdrawForm input, .WithdrawForm select{
    height: 30px;
    border-radius: 18px;
    padding: 0px 10px;
}

.WithdrawForm button {
    background-color: var(--primary-colour);
    border-radius: 18px;

    transition: all 0.2s ease-in;
}

.WithdrawForm button:hover
{
    transform: scale(1.03);
}

