.WithdrawForm {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.WithdrawForm input, .WithdrawForm select{
    height: 30px;
    border-radius: 18px;
    padding: 0px 10px;
}

.WithdrawForm button {
    background-color: var(--primary-colour);
    border-radius: 18px;
}

