.GameCardImage{
    background-color: var(--accent-colour);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 175px;
    height: 260px;

    border-radius: 18px;

    padding: 15px;

    position: relative;

    transition: all 0.3s ease;
}

.GameCardImage:hover {
    transform: scale(1.03);
}

.GameCardText {
    background-color: var(--secondary-colour);

    width: 100%;
    
    text-align: center;
    position: absolute;

    top: 66%;

    color: var(--text-colour);
}

.GameCardText h3 {
    margin: 3px;
}