@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

.GameCardImage {
  background: linear-gradient(180deg, #8E5CF7 0%, #A849FF 100%);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 275px;
  height: 360px;
  border-radius: 18px;
  padding: 20px 16px 56px;

  position: relative;
  transition: all 0.3s ease;
}

.GameCardImage:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.23);
}

.GameCardIcon {
  width: 84%;
  max-width: 150px;
  height: auto;
  object-fit: contain;

  position: relative;
  z-index: 1;
  transform: translateY(30px);
  transition: transform 0.3s ease;
}

.GameCardText {
  width: 80%;
  text-align: center;
  position: absolute;
  bottom: 5%;
  color: white;
  transition: all 0.3s ease;
}

.GameCardText:hover {
  transform: scale(1.03);
}

.GameCardText h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;
  color: white;
}